.dropbtn {
    padding: 5px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #242424;
    width: 100px;
}

.dropbtn
{
  background: url('https://mfrlab.ru/ru/img/russia.svg') no-repeat left center;
  padding-left: 35px;
  width: 45px;
}

.dropbtn::after {
    content: "";
    height: 10px;
    position: absolute;
    right: 0;
    top: 7px;
    width: 10px;
}

.dropdown-content a:first-child
{
  background: url('https://mfrlab.ru/ru/img/russia.svg') no-repeat left center;
}

.dropdown-content a:last-child
{
  background: url('https://mfrlab.ru/ru/img/united-kingdom.svg') no-repeat left center;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 2px 0 2px 25px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */